body {
    background-color: rgb(193, 181, 221);
    text-align: center;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.start {
    display: none;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.toggle {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    display: block;
    background-color:rgb(240, 255, 239) ;
    height: 50px;
    padding: 15px;
    margin: 10px;
    position: relative;
}
.toggle:hover {
    background-color: rgb(146, 120, 170);
}
a:hover {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}
::-webkit-scrollbar {
    background-color: rgb(216, 216, 216);
}
::-webkit-scrollbar-track {
    background-color: rgb(201, 201, 201);
}
::-webkit-scrollbar-thumb {
    background: rgb(146, 120, 170);
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(81, 62, 99);
}